{% extends 'base.html' %}

{% block content %}
<div id="loading">
    <span class="loader"></span>
</div>
<div id="centered">
    <h1>Choose a Coursera category</h1>
    <div class="categories">
        <form action="{{ url_for('csvlink')}}" method="post">
            <input type="submit" class="button" value='data-science' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='business' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='computer-science' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='information-technology' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='personal-development' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='language-learning' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='health' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='social-sciences' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='arts-and-humanities' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='math-and-logic' name="categoryClicked" onclick="loading();">
            <input type="submit" class="button" value='physical-science-and-engineering' name="categoryClicked" onclick="loading();">
        </form>
    </div>
</div>

<script type="text/javascript">// <![CDATA[
    function loading(){
        var x = document.getElementById("loading");
        var y = document.getElementById("centered")
        if (x.style.display == "none") {
            x.style.display = "block";
            y.style.display = "none"
            console.log('clicked category')

        }  
    }
// ]]></script>

{% endblock %}